
.menu-header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:3.75rem;
	line-height:3.75rem;
	border-bottom:1px solid #ccc;
    box-sizing:border-box;
	padding:0 1.26087rem;
	background:#fff;
	z-index:2;
}
.menu-return{
	float:left;
	background:url(../images/icon.png) no-repeat 0 0/28rem 4.26rem;
	width:1rem;
	height:1.39rem;
	margin-top:1.3rem;
	display:inline-block;

}
h2{
	margin:0 auto;
	text-align: center;
	font-size:1.565rem;
	color:#ff512f;
	width:8.52174rem;
	border-bottom:2px solid #ff512f;
}
.menu-cont{
	padding:4rem 0;
	background-image:url(../images/beijing.jpg);
	background-size:100% 100%;
}
.menu-cont section{
	position:relative;
}
.menu-cont section:nth-child(2){
	margin:0.26087rem 0;
}
.menu{
	font-size:1.21739rem;
	color:#fff;
	width:3.04348rem;
	height:3.04348rem;
	line-height:3.04348rem;
	background:#ff5111;
	text-align:center;
	border-radius:100%;
	position:absolute;
	top:0.43rem;
	left:0.43rem;
}
.menu-img img{ width:100%;}
.menu-text{
	width:100%;
	background:rgba(0,0,0,0.5);
	text-align:center;
	position:absolute;
	bottom:0.16rem;
}
.menu-text a{
	margin: 0 auto;
	font-size:0.95rem;
	color:#fff;
	line-height:1.5rem;
	width:25.21rem;
	height:3.04rem;
	display: block;
}

/*footer*/
.footer{position:fixed; left:0; bottom:0; width:100%; height:4rem; border-top:1px solid #ccc; background:#fff;}
.footer a{float:left; width:20%; }
.footer a span{display:block; margin:0 auto;}
.footer a .info{text-align:center; font-size:0.94rem; color:#242424;}
.footer a .red{color:#ff512f;}
.footer .home span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-3rem 0; margin-top:0.2rem;}
.footer .collocation span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-12rem 0; margin-top:0.2rem;}
.footer .recipe span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-5.4rem -2.2rem; margin-top:0.2rem;}
.footer .dietitian span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-7.8rem 0; margin-top:0.2rem;}
.footer .wo span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-9.8rem 0; margin-top:0.2rem;}