/* CSS Document */
html,body{padding:0 1rem;}
img{width:100%;}

/*header*/
.header{position:fixed; left:0; top:0; width:100%; height:3.75rem; border-bottom:1px solid #ccc; display:box; display:-webkit-box; display:-moz-box; margin-bottom:4rem; background:#fff; z-index:2;}
.header .left-arrow{display:block; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; padding-left:20px;}
.header .left-arrow span{float:left; background:url(../images/icon.png) no-repeat; width:1.2rem; height:1.6rem; background-size:27.6rem 4.18rem; margin-top:1rem;}
.header h2{font-size:1.536rem; line-height:3.75rem; text-align:center; border-bottom:2px solid #ff512f; color:#ff512f; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1;}
.header .share{display:block; width:10px; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; padding-right:20px;}
.header .share span{float:right; background:url(../images/icon.png) no-repeat; width:1.5rem; height:1.6rem; background-size:27.6rem 4.18rem; margin-top:1rem; background-position:-1.3rem 0;}


.center{width:100%; padding:4rem 0 5rem;}
.list{width:12rem; margin:0 auto; text-align:center; font-size:1rem; color:#9d9d9d;}
.list img{ padding:0.7rem 0;}
.list .zh1{font-size:1.2rem;color:#ff512f; margin:0.5rem 0;}
.list .zh2{ cursor:pointer;}
.list .ll{margin:0.3rem 0;}
.list .ll ul{width:50%; float:left;}
.list .ll ul li:first-of-type{color:#000;}
.list .ll ul li:last-of-type{cursor:pointer;}
.content{text-align:center; font-size:1rem; color:#9d9d9d;}
.content h3{padding-top:0.7rem; background:url(../images/yuanjiao.png) no-repeat center top; background-size:1.47rem 0.13rem; font-size:1rem; font-weight:normal; color:#000;}
.content p{text-align:left; text-indent:2em; line-height:1.73rem; margin:0.5rem 0; padding:0 1.95rem;}
.content h3.h31{padding-bottom:0.7rem;background:url(../images/yuanjiao.png) no-repeat center bottom;}
.pren ul li{text-align:left; padding-left:1.95rem; line-height:1.73rem;}
.pren ul{margin-bottom:1rem;}
.bz article{width:50%; position:relative;}
.bz article dl dd{color:#242424;}
.left > img:nth-child(3){position:absolute; top:0; right:-2.98rem; width:5.86rem;}
.left > img:nth-child(4){position:absolute; top:15rem; right:-1.3rem; width:7rem;}
.left > img:nth-child(5){position:absolute; top:29rem; right:-1.3rem; width:7rem;}
.right > img:nth-child(4){position:absolute; top:9rem; left:-1.3rem; width:7rem;}
.right > img:nth-child(5){position:absolute; top:23rem; left:-1.3rem; width:7rem;}
.right > img:nth-child(6){position:absolute; bottom:4rem; left:-1.3rem; width:7rem;}
.left{background:url(../images/line2.png) repeat-y right top;padding-bottom:3rem;}
.left dl{width:10rem;margin:0 3rem 0 0.9rem;}
.left dl:first-of-type{margin:13rem 3rem 4.78rem 0.9rem;}
.right dl{width:10rem; margin:0 0.9rem 0 3rem;}
.right dl:first-of-type{margin:6.52rem 0.9rem 4.78rem 3rem;}
.right dl:last-of-type{margin-top:4.78rem;}
.bz p{text-align:center; margin:0; text-indent:0; padding:0; color:#242424;}
.content p.ts{background:url(../images/dingwei.png) no-repeat left center; background-size:0.56rem 1.08rem; color:#ff512f; font-size:0.86rem; text-indent:0.8rem; padding:0; width:24rem; margin:0 auto;}
.content p.cen{text-align:center; text-indent:0;}
.yuxiang .h31{border-top:1px dotted #ccc; margin-top:1rem;}
.yx_con{margin-top:1rem;}
.yx_con article{width:50%; padding:0 0.5rem; box-sizing:border-box; position:relative;}
.yx_con article dl{border:1px solid #CCC; border-radius:5px; overflow:hidden;}
.yx_con article dl dt{position:relative;}
.yx_con article dl dt dl{position:absolute; bottom:-1.9rem; left:0.5rem; border:none;}
.yx_con article dl dt dl dt{width:2.13rem; height:2.13rem;}
.yx_con article dl dt dl dd{color:#ff512f; font-size:0.78rem; margin-top:0.7rem;}
.yx_con article dl dd{color:#242424; text-align:left; padding:0 0.3rem; word-break:break-all;  margin:1.5rem 0 1rem 0;}
.yx_con article dl dd a{background:url(../images/zan.png) no-repeat left center; background-size:1.1rem 1rem; padding-left:1rem; font-size:0.69rem; color:#a4a3a3;float:right; margin-right:0.8rem;}

.woyao{position:relative;}
.woyao p{padding:0;}
.woyao p img{width:2.13rem; height:2.13rem; border:1px solid #ccc; border-radius:5px; float:left;}
.woyao p textarea{width:80%; height:4.18rem;border:1px solid #ccc; border-radius:5px; float:right; resize:none; font-size:0.9rem; color:#bbb; padding:0.5rem;}
.woyao p:last-of-type{position:absolute; bottom:0; left:1.8rem;}
.woyao p:last-of-type input{width:4.95rem; height:1.73rem; border:0px solid; border-radius:5px; background:#ff512f; font-size:0.8rem; color:#fff; cursor:pointer;}

/*footer*/
.footer{position:fixed; left:0; bottom:0; width:100%; height:4rem; border-top:1px solid #ccc; background:#fff;}
.footer a{float:left; width:20%; }
.footer a span{display:block; margin:0 auto;}
.footer a .info{text-align:center; font-size:0.94rem; color:#242424;}
.footer a .red{color:#ff512f;}
.footer .home span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-3rem 0; margin-top:0.2rem;}
.footer .collocation span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-12rem 0; margin-top:0.2rem;}
.footer .recipe span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-5.4rem -2.2rem; margin-top:0.2rem;}
.footer .dietitian span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-7.8rem 0; margin-top:0.2rem;}
.footer .wo span:nth-child(1){background:url(../images/icon.png) no-repeat; width:2.2rem; height:2.2rem; background-size:27.6rem 4.18rem;
background-position:-9.8rem 0; margin-top:0.2rem;}
@media(min-width:375px){
	.woyao p textarea{width:85%;}
}
@media(max-width:375px){
	.woyao p:last-of-type{position:absolute; bottom:0; left:2.7rem;}
}


